.CheckoutSummary {
  text-align: center;
  width: 60%;
  margin: auto;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  font-size: 16px;
  color: #da7330;
  text-shadow: -1px -1px 0 rgb(112, 59, 9), 1px -1px 0 rgb(112, 59, 9),
    -1px 1px 0 rgb(112, 59, 9), 1px 1px 0 rgb(112, 59, 9);
}
.CheckoutSummary .BurgerCont {
  width: 60%;
  height: 300px;
  margin: auto;
  overflow: auto;
  margin-bottom: 5px;
}
.BurgerCont::-webkit-scrollbar {
  display: none;
}
.BurgerCont {
  -ms-overflow-style: none;
}
