.OrderSummary {
  background: rgb(204, 204, 204);
  background: linear-gradient(
    176deg,
    rgba(204, 204, 204, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 10px;
  text-align: center;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  font-size: 18px;
}
.heading h3 {
  margin: 0px;
  text-align: center;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  font-size: 22px;
  color: rgb(112, 59, 9);
  color: white;
  padding: 5px 0px;
}
.heading {
  background-color: rgba(255, 202, 54, 1);
}
.OrderSummary ul {
  list-style-type: none;
}
